---
---

@import "{{ site.theme }}";

#logo {
    border: none;
    box-shadow: none;
    -web-kit-box-shadow: none;
    margin-left: auto;
    margin-right: auto;
}

#project-title {
    margin-left: auto;
    margin-right: auto;
}
