---
---

@import "{{ site.theme }}";

#logo {
    border: none;
    box-shadow: none;
    -web-kit-box-shadow: none;
    display: block;
    margin: 0 auto;
}

#project_title {
    text-align: center;
    font-size: 26px;
}

#project_tagline {
    text-align: center;
    font-size: 16px;
}


header.inner {
    margin-bottom: 0;
    padding-bottom: 0px;
}
#header_wrap {
    padding: 0px;
}

#header_wrap .inner {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    width: 50px;
    font-size: 18px;
}
