---
---

@import "{{ site.theme }}";

#logo {
    border: none;
    box-shadow: none;
    -web-kit-box-shadow: none;
    display: block;
    margin: 0 auto;
}

#project_title {
    text-align: center;
}

header.inner {
    margin-bottom: 0;
}
#header_wrap .innter {
    padding-bottom: 0;
}

nav ul {
    padding: 0;
}
